/* Styling for noscript.html */

* {
	font-family: "Arial", "Helvetica", "Trebuchet MS", "Verdana", "sans-serif";
}

body {
	background-color: #fff;
	margin: 0 auto;
	width: 1200px;
	height: 705px;
}

div:first-child {
	width: inherit;
	height: inherit;
}

.pos_r {
	position: relative;
}

div.inner {
	height: 680px;
	width: 1180px;
	background-color: #eaeaea;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	box-shadow: 0px 2px 2px #000000;
	border-radius: 10px;
}

div.inner > div {
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	width: 1140px;
	height: 640px;
}

#head {
	top: 10px;
	left: 10px;
	text-align: justify;
    height: 150px;
	width: 1120px;
}

#body {
	top: 20px;
	width: 1120px;
	left: 10px;
	height: 460px;
}

body > div div {
	text-align: center;
}

#body > div div span {
	font-size: 60px;
	font-weight: 800;
	padding: 20px;
	top: 25px;
	text-transform: capitalize;
	text-shadow: 0 2px 2px #000000;
}

/* Logo CSS */

#logo {
	top: 10px;
	left: 400px;
	height: 130px;
	width: 300px;
	background-color: #ff0404;
	border-radius: 10px;
	box-shadow: #000000 0px 1px 3px 0px;
}

.body_common {
	left: 10px;
	right: 10px;
	width: 1100px;
}

#body > div:first-child {
	top: 30px;
	height: 120px;
}

#body > div:nth-child(2) {
	top: 50px;
	height: 120px;
}

#body > div:last-child {
	top: 70px;
	height: 120px;
}
