/* General stylesheet for forms */

#forms-area {
    height: 780px;
		/*background-color: gray;*/
}

#prompt-area {
	height: 100px;
	background-color: #fff;
}

/* Styling for forms */

.pos_r { position: relative; }

#brd {
	height: 700px;
}

#model {
	height: 650px;
}

#sar {
	height: 600px;
}

div.fm > fieldset form {
	margin: 0 auto;
	top: 30px; bottom: 30px;
  left: 5px;
	width: 800px;
}

.brd > fieldset form {
	height: 600px;
}

.model > fieldset form {
	height: 550px;
}

.sar > fieldset form {
	height: 500px;
}

.form-height {
	height: 20px;
}

.banner {
  top: 40px; right: 25px;
  letter-spacing: -2px;
  word-spacing: 10px;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 60px;
  color: #161616;
  font-weight: 500;
  text-shadow: 1px 1px 1px black;
}
