/* Styling for About content */

.wid {
    width: 1024px;
}

.pos {
    position: relative;
    top: 30px;
}

#nav-area {
    position: absolute;
    top: 0;
    height: 30px;
    background-color: black;
    box-shadow: 0px 1px 2px #4a4a4a;
    -moz-box-shadow: 0px 1px 2px #4a4a4a;
    -webkit-box-shadow: 0px 1px 2px #4a4a4a;
}

#logo-area {
    height: 150px;
}

#ab-area {
    height: 1382px;
}

#ab-ticker {
    height: 50px;
}

#partners-area {
    height: 50px;
}
