/* content stylesheet */

#nav, #nav-features, .nav-features, .nav-features > a span,
.act-nav, .act-home > a span, .act-sar > a span, .act-about > a span,
#logo, #img-box, #features, #direct, a[title="Click to see featured brands!!!"],
a[title="Click to browse SAR database!!!"], #partners, #copyright, #site-map, .site-map, .site-map > a { position: relative; }

#act-nav, #ticker, #ticker > div, #img-box > div:first-of-type,
.img-pos, #part-1, #part-2, #part-3, #part-4, #part-5, #part-6 { position: absolute; }

/* Nav CSS */

#nav {
    top: 1px;
    height: 20px;
    width: 1280px;
}

#nav-features {
    height: 20px;
    width: 700px;
}

.nav-features {
    height: 20px;
    width: 90px;
    float: left;
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
}

.sony {
    width: 120px;
}

.nav-features > a {
    text-decoration: none;
    color: #e3e3e3;
}

.nav-features > a:hover {
    text-decoration: none;
    color: #ff0404 !important;
}

.nav-features > a span {
    top: 7px;
}

#act-nav {
    height: 30px;
    width: 324px;
    left: 950px;
    top: 0px;
}

.act-nav {
    height: 30px;
    width: 108px;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 0.90em;
}

.act-nav > a {
    text-decoration: none;
    color: #e3e3e3;
}

.act-nav > a:hover {
    text-decoration: none;
    color: #ffffff !important;
}

.act-home > a span, .act-sar > a span, .act-about > a span { top: 5px; }

#logo {
    height: 130px;
    width: 300px;
    background-color: #ff0404;
    border: solid #f9b9b9 0px;
    top: 15px;
    left: 500px;
    border-radius: 10px;
    box-shadow: #000000 0px 1px 3px 0px;
}

#ticker {
    height: 40px;
    top: 5px;
    width: 900px;
    left: 150px;
}

#ticker > div {
    height: 30px;
    top: 5px;
    width: 850px;
    left: 25px;
}

#img-box {
    top: 25px;
    height: 400px;
    width: 800px;
    background-color: #fff;
    left: 240px;
    box-shadow: #4a4a4a 0px 1px 5px 0px; 
		z-index: 1;
}

.nav {
    height: 100px;
    width: 200px;
    background-color: #727272;
    border-radius: 5px;
    box-shadow: #4a4a4a 0px 0px 4px 0px;
    border: solid #fff 2px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0px 1px 2px #000000; 
}

.nav:hover {
    background-color: #ababab;
    color: #fff;
    border: solid #9a9a9a 2px; 
}

#features {
    top: 5px;
    left: 310px;    
}

#direct {
    left: 770px;
    top: -118px;
}

a[title="Click to see featured brands!!!"] {
    text-decoration: none;
    color: inherit !important;
    font-size: 30px;
    line-height: 30px;
    top: 20px;
}

a[title="Click to browse SAR database!!!"] {
    text-decoration: none;
    color: inherit !important;
    font-size: 30px;
    line-height: 30px;
    top: 20px;
}

/* Nivo Image Slider CSS */

#img-box > div:first-of-type {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 380px;
    width: 780px;
}

#partners-area {
    font-size: 12px;
}

#partners {
    top: 0;
    left: 215px;
    height: 40px;
    width: 820px; 
}

.partners {
    height: 40px;
    width: 120px;
}

#part-1 { left: 0; }

#part-2 { left: 140px; }

#part-3 { left: 280px; }

#part-4 { left: 420px; }

#part-5 { left: 560px; }

#part-6 { left: 700px; }

#copyright {
    top: 13px;
    font-size: 12px;
}

#site-map {
    margin: 0 auto;
    top: -10px;
    height: 30px;
    width: 600px;
    float: right;
    font-size: 12px;
}

.site-map {
    height: 30px;
    width: 100px;
    float: left;
}

.site-map > a {
    top: 3px;
    left: 30px;
    color: inherit !important;
    text-decoration: none; 
}

.site-map > a:hover {
    color: #038bfd !important;
}

.home, .sar, .about, .help { left: 200px; }
