/* Styling for iSAR Direct Models */

* {
    font-family: "Arial", "Helvetica", "Trebuchet MS", "Verdana", "sans-serif";
}

body {
    margin: 0 auto;
    height: 2160px;
    width: 1280px;
    background-color: #fff;
}

div#body {
    margin: 0 auto;
    height: 2160px;
    width: 1280px;
    background-color: #fff;    
}

#upper-body {
    top: 0;
    height: 2122px;
    background-color: #fff;
}

#lower-body {
    height: 38px;
    background-color: #f1f1f1;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #d0d0d0;
    color: #7c7c7c;
}
