/* Nav CSS */

#nav {
    position: relative;
    top: 1px;
    height: 20px;
    width: 1280px;
}

#nav-features {
    position: relative;
    height: 20px;
    width: 700px;
}

.nav-features {
    position: relative;
    height: 20px;
    width: 90px;
    float: left;
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
}

.sony {
    width: 120px;
}

.nav-features > a {
    text-decoration: none;
    color: #e3e3e3;
}

.nav-features > a:hover {
    text-decoration: none;
    color: #ffffff !important;
}

.nav-features > a span {
    position: relative;
    top: 7px;
}

#act-nav {
    position: absolute;
    height: 30px;
    width: 324px;
    left: 950px;
    top: 0px;
}

.act-nav {
    position: relative;
    height: 30px;
    width: 108px;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 0.90em;
}

.act-nav > a {
    text-decoration: none;
    color: #e3e3e3;
}

.act-nav > a:hover {
    text-decoration: none;
    color: #ffffff !important;
}

.act-home > a span {
    position: relative;
    top: 5px;
}

.act-sar > a span {
    position: relative;
    top: 5px;
}

.act-about > a span {
    position: relative;
    top: 5px;
}

/* Logo CSS */

#app-logo {
    position: absolute;
    top: 15px;
    left: 480px;
    height: 130px;
    width: 300px;
    background-color: #ff0404;
    border-radius: 10px;
    box-shadow: #000000 0px 1px 3px 0px;
}

img[title="iSAR logo" ] {
    position: relative;
    top: 5px;
}

img[title="Direct logo"] {
    position: relative;
    top: 2px;
    left: 5px;
}

/* SAR Ticker CSS */

#s-ticker {
    position: absolute;
    top: 10px;
    left: 90px;
    height: 40px;
    width: 1000px;
    margin: 0 auto;
    
}

/* Allowable Limit CSS */

.limit {
    height: 116px;
    width: 300px;
    border-radius: 5px;
    text-align: center;
    color: #161616;
		font-weight: bold;
    text-shadow: #161616 0 0 1px;
    /*background-color: #727272;
    border: solid #727272 1px;
    box-shadow: 0 0px 4px 0px #000000;*/
}

.fcc {
    position: absolute;
    left: 15px;
    top: 0;
}

.cenelec {
    position: relative;
    left: 950px;
    top: 0;    
}

/* SAR content area */

.ht {
    height: 952px;
}

#first-column {
    position: absolute;
    top: 0;
    width: 250px;
}

#middle-column {
    position: relative;
    top: 0;
    width: 524px;
    left: 367px;
}

#brd-nm {
    position: absolute;
    top: 7px;
    left: 35px;
    height: 150px;
    width: 450px;
}

.after-brd-pos {
    position: relative;
}

#md-nm {
    top: 170px;
    left: 0px;
    height: 120px;
    width: 524px;
}

#add-info {
    top: 180px;
    left: 55px;
    height: 50px;
    width: 400px;
}

#sar {
    top: 190px;
    height: 120px;
    width: 340px;
    left: 85px;
}

#recom {
    top: 200px;
    height: 420px;
    width: 504px;
    left: 10px;
}

#recom > div {
    height: 410px;
    width: 500px;
    top: 5px;
    left: 2px;
}

.cm {
    background-color: #f2f2f2;
    border-radius: 5px;
    border: solid #f2f2f2 1px;
    text-align: center;
    color: #000000;
    box-shadow: 0px 1px 2px #000000;
}

.direct-brd > div span {
    letter-spacing: -2px;
}

.direct-md {
    font-size: 48px;
    line-height: 120px;
    letter-spacing: -1px;
}

.direct-sar {
    position: relative;
    font-size: 20px;
    line-height: 25px;
}

.s-pos {
    position: relative;
    top: 55px;
}

.recom {
    top: 5px;
    font-size: 18px;
    text-align: justify;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.r-pos {
    position: relative;
    text-align: justify;
}

#r-sar {
    top: 15px;
    height: 365px;
    width: 480px;
    left: 10px;
}

#r-sar > div span:nth-of-type(1) {
    font-size: 16px;
    font-weight: bold;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#r-sar > div span:nth-of-type(2) {
    position: relative;
    top: 5px;
    font-size: 10px;
}

#r-sar > div span:nth-of-type(3) {
    position: relative;
    top: -3px;
    float: right;
}

a[title="More Info on Recommendations"] > span:hover {
    color: #00abff;
}

.direct-add {
    font-size: 35px;
    line-height: 45px;
}

#last-column {
    position: absolute;
    top: 0;
    width: 250px;
    left: 774px;
}

#sar-fm > form input[name="submit"] {
    position: relative;
    height: 110px;
    width: 600px;
    left: 330px;
    top: 0;
    color: #fff;
    background-color: #727272;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px #000000;
    border: 2px solid #fff;
    text-align: center;
    text-transform: none;
    cursor: pointer;  
    text-shadow: 0px 1px 2px #000000;
    font-size: 21px;
    word-wrap: break-word;
}

#sar-fm > form input[name="submit"]:hover {
    background-color: #ababab;
    border: solid #9a9a9a 2px;
}

/* Partners CSS */

#partners {
    position: absolute;
    height: 40px;
    width: 820px;
    left: 215px;
    top: 0;
}

.partners {
    height: 40px;
    width: 120px;
}

#part-1 {
    position: absolute;
    left: 0;
}

#part-2 {
    position: absolute;
    left: 140px; 
}

#part-3 {
    position: absolute;
    left: 280px;
}

#part-4 {
    position: absolute;
    left: 420px;
}

#part-5 {
    position: absolute;
    left: 560px;
}

#part-6 {
    position: absolute;
    left: 700px;
    text-align: center;
}

/* Footer CSS */ 

.copyright {
    position: relative;
    top: 13px;
    font-size: 12px;
}

#site-map {
    margin: 0 auto;
    position: relative;
    top: -10px;
    height: 30px;
    width: 600px;
    float: right;
    font-size: 12px;
}

.site-map {
    height: 30px;
    width: 100px;
    position: relative;
    float: left;
}

.site-map > a {
    position: relative;
    top: 4px;
    left: 30px;
    color: inherit !important;
    text-decoration: none; 
}

.site-map > a:hover {
    color: #038bfd !important;
}

.home {
    left: 200px;
}

.sar {
    left: 200px;
}

.about {
    left: 200px;
}

.help {
    left: 200px;
}
