/* Styling for iSAR Direct */

.wid {
    width: 1280px;
} 

.pos {
    position: relative;
    top: 30px;
}

#nav-area {
    position: fixed;
    top: 0;
    height: 30px;
    background-color: #000000;
    box-shadow: 0px 1px 2px #4a4a4a;
	  z-index: 2;
}

#logo-area {
    height: 150px;
}

#brands-ticker {
    height: 60px;
}

#sel-brd {
    height: 72px;
}

#brands-area {
    height: 500px;
}

#dd-fm {
    height: 150px;
}

#partners-area {
    height: 150px;
}
