/* Nav CSS */

#nav {
    position: relative;
    top: 1px;
    height: 20px;
    width: 1280px;
}

#nav-features {
    position: relative;
    height: 20px;
    width: 700px;
}

.nav-features {
    position: relative;
    height: 20px;
    width: 90px;
    float: left;
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
}

.sony {
    width: 120px;
}

.nav-features > a {
    text-decoration: none;
    color: #e3e3e3;
}

.nav-features > a:hover {
    text-decoration: none;
    color: #ff0404 !important;
}

.nav-features > a span {
    position: relative;
    top: 7px;
}

#act-nav {
    position: absolute;
    height: 30px;
    width: 324px;
    left: 950px;
    top: 0px;
}

.act-nav {
    position: relative;
    height: 30px;
    width: 108px;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 0.90em;
}

.act-nav > a {
    text-decoration: none;
    color: #e3e3e3;
}

.act-nav > a:hover {
    text-decoration: none;
    color: #ffffff !important;
}

.act-home > a span {
    position: relative;
    top: 5px;
}

.act-sar > a span {
    position: relative;
    top: 5px;
}

.act-about > a span {
    position: relative;
    top: 5px;
}

/* Logo CSS */

#logo {
    position: relative;
    top: 12px;
    height: 90px;
    width: 120px;
    background-color: #ff0404;
    border-radius: 5px;
    box-shadow: #000000 0px 1px 3px 0px; 
}

#app-logo {
    position: absolute;
    top: 12px;
    left: 475px;
    height: 140px;
    width: 320px;
    background-color: #f9a503;
    /* border: solid #f9b9b9 0px; */
    border-radius: 10px;
    box-shadow: #000000 0px 1px 3px 0px;
}

img[title="iSAR logo" ] {
    position: relative;
    top: 5px;
}

img[title="Direct logo"] {
    position: relative;
    top: 2px;
    left: 5px;
}

/* Models Ticker CSS */

#m-ticker {
    position: absolute;
    top: 10px;
    left: 90px;
    height: 40px;
    width: 1000px;
    margin: 0 auto;
    
}

/* Model select Banner */

#sel-model > div {
    position: relative;
    top: 4px;
    height: 60px;
    width: 800px;
    left: 150px;    
}

#sel-model > div span {
    position: relative;
    color: #161616;
    font-size: 50px;
    text-transform: capitalize;
    text-decoration: underline;
    text-align: center;
    left: 130px;
    text-shadow: 1px 1px 1px #4a4a4a;
    filter: progid:DXImageTransform.Microsoft.DropShadow(color="#4a4a4a", offX = 1, offY = 1, offZ = 1);        
    /*border-bottom-style: solid;
    border-bottom-width: 1px;;
    border-bottom-color: #070707;*/
    letter-spacing: -2px;
}

/* Models Area CSS*/

#m-area {
    position: relative;
    top: 10px;
    width: 800px;
    height: 1590px;
    left: 225px;
}

#brd-nm-area {
    position: absolute;
    top: 0;
    height: 150px;
    width: inherit !important;
}

#sel-md-area {
    position: relative;
    top: 150px;
    height: 50px;
    left: 30px;
    width: inherit !important;
}

#md-area {
    position: relative;
    top: 150px;
    height: 1390px;
    width: inherit !important;
    /*overflow-y: hidden;
    overflow-x: hidden;*/
}

#md-fm > form input[name="submit"] {
    position: relative;
    height: 110px;
    width: 600px;
    left: 325px;
    top: 0;
    color: #fff;
    background-color: #727272;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px #000000;
    border: 2px solid #fff;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;  
    font-size: 28px;
    text-shadow: 0px 1px 2px #000000;
}

#md-fm > form input[name="submit"]:hover {
    background-color: #ababab;
    border: solid #9a9a9a 2px;
}

/* Partners CSS */

#partners {
    position: absolute;
    height: 130px;
    width: 1000px;
    left: 130px;
    top: 10px;
    font-size: 12px;
}

.partners {
    height: 130px;
    width: 160px;
}

#part-1 {
    position: absolute;
    left: 5px;
    top: -20px;
}

#part-2 {
    position: absolute;
    left: 170px;
    padding-top: 20px; 
}

#part-3 {
    position: absolute;
    left: 335px;
}

#part-4 {
    position: absolute;
    left: 500px;
}

#part-5 {
    position: absolute;
    left: 665px;
}

#part-6 {
    position: absolute;
    left: 830px;
    text-align: center;
}

/* Footer CSS */ 

.copyright {
    position: relative;
    top: 12px;
    font-size: 12px;
}

#site-map {
    margin: 0 auto;
    position: relative;
    top: -10px;
    height: 30px;
    width: 600px;
    float: right;
    font-size: 12px;
}

.site-map {
    height: 30px;
    width: 100px;
    position: relative;
    float: left;
}

.site-map > a {
    position: relative;
    top: 4px;
    left: 30px;
    color: inherit !important;
    text-decoration: none; 
}

.site-map > a:hover {
    color: #038bfd !important;
}

.home {
    left: 200px;
}

.sar {
    left: 200px;
}

.about {
    left: 200px;
}

.help {
    left: 200px;
}
